
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
} 

body::-webkit-scrollbar{
  display: none;
}
body{
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(233, 233, 233);}
@media only screen and(max-width:700px) {
  body{
      width: 100vw;
      overflow-x: none;
  }
}
.home{
  width: 100%;
}